html, body {
	padding: 0;
	margin: 0px;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	font-family: "PT sans", Arial,sans-serif;
	background-color: #f2f2f2;
	color: #000000;
	text-transform: uppercase;
}
@font-face {
	font-weight: normal;
	font-style: normal;

	font-family: "symbols-sedona";
	src: url("../fonts/symbols-sedona.woff") format("woff"),
		url("../fonts/symbols-sedona.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;

  font-weight: normal;

  speak: none;
  text-decoration: inherit;
  width: 1em;
  font-style: normal;
  font-variant: normal;
  font-family: "symbols-sedona";
  text-align: center;
  text-transform: none;
  line-height: 24px;
}

.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-star::before { content: "\2605"; } /* "★" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-calendar::before { content: "\e800"; } /* "" */
.icon-plus::before { content: "\e801"; } /* "" */
.icon-minus::before { content: "\e802"; } /* "" */
.icon-youtube::before { content: "\f39e"; } /* "" */


.main_navigation ul {
	list-style: none;
	margin:0;
	padding: 0;
}

.clearfix::after {
	display: table;
	clear: both;
	content: "";
}

.content_block h2 {
	padding: 0px;
	margin: 0px;
	font-weight: bold;
	line-height: 24px;
	color: #000000;
	font-size: 30px;
}

.content_block h3{
	padding: 0;
	margin: 0;
}

.content_block .content_title {
	font-weight: bold;
	font-size: 21px;
	padding-top: 60px;
	color: #000000;
	line-height: 26px;
}

.features_text .content_title {
	line-height: 21px;
	color: inherit;
	padding-top: 55px;
	margin-bottom: 25px;
}

.features_text.other_color{
	background-color: #81b3d2;
	color: white;
}

.content_block > .color_background {
	background-color: #eeeeee;
}

.container {
	width: 1200px;
	margin: 0px auto;
	padding: 0 0;
	background-color: white;
}

/*главное меню*/

.main_navigation ul {
	position: relative;
	margin:0;
	padding: 0px;
	list-style: none;
}

.logo {
	margin-top: -15px;
	position: absolute;
	display: block;
	padding-left: 55px;
	padding-right: 0px;
}

.main_navigation li {
	float: left;
	padding-top: 14px;
	padding-bottom: 17px;
	padding-right: 0px;
	text-align: center;
	min-width: 240px;
}

.main_navigation li:last-child {
	float: right;
}

.main_navigation li:nth-child(4) {
	float: right;
}

.main_navigation a {
	font-size: 14px;
	line-height: 26px;
	text-decoration: none;
	font-weight: bold;
}

.main_navigation a:visited {
	line-height: 26px;
	font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
	color: black;
	font-weight: bold;
}

.intro {
	height: 507px;
	background-image: url("../img/intro.jpg");
	background-position: -2px 95%;
	background-repeat: no-repeat;
}

.content_block {
	text-align: center;
}

.content_title {
	padding-bottom: 20px;
	color: #FFF;
	padding-top: 50px; 
}

.content_text {
	margin-bottom: 52px;
}

.features_text {
	width: 400px;
	text-align: center;
	float: left;
	color: #000000;
	background-color: #FFFFFF;
	min-height: 256px;
}

.content_block p {
	margin: 0;
	padding: 0;
	margin-bottom: 16px;
}

.features_picture {
	float:right;
	width: 800px;
	min-height: 256px;
	background-image:url(../img/town.jpg);
}

.content_about {
	position:relative;
	width:400px;
	min-height:256px;
	float:left;
}

.content_about .title_about {
	padding-top: 165px;
	margin-bottom: 27px;
	font-size: 21px;
}

.content_about p {
	margin: 0;
	padding: 0;
}

.content_about p {
	margin-bottom: 80px;
	padding-top: 0px;
}

.icon {
	position: absolute;
	padding: 5px;
	width: 80px;
	top: 50px;
	left: 160px;
	height: 80px;
	background-position: 2px 11px;
	background-color: #FFF;
	background-repeat: no-repeat;
}

.icon_house {
	background-image: url("../img/icon_house.png");
}

.icon.icon_food {
	background-image: url("../img/icon_food.png");
	background-position: 3px 12px;
}

.icon.icon_present {
	background-image: url("../img/icon_present.png");
	background-position: 7px 7px;
}


.features_picture:nth-child(1) {
	float:left;
	background-image: url(../img/canyon.jpg);
	width: 800px;
	min-height: 256px;
	background-position: 0 0;
	background-repeat: no-repeat;
}


.btn_find {
	height: 58px; 
	width: 458px;
}

footer {
	min-height: 120px;
}

.tag {
	float:left;
	padding-bottom: 40px;
	padding-top:50px;
	padding-left: 61px;
	margin-left:70px;
	width:240px;
	font-size:21px;
	font-weight:bold;
	line-height:26px;
}
.footer_social {
	float: left;
	width: 400px;
	margin-left: 26px;
	padding-top: 38px;
	padding-bottom: 36px;
	text-align: center;
}

.social_btn {
	display: inline-block;
	width: 45px;
	height: 35px;
	margin: 0px 2px;
	background: #81b3d2;
	color: #ffffff;
	font-weight: bold;
	font-size: 19px;
	text-decoration: none;
	padding-top: 13px;
}


.copyright {
	position: relative;
	float:right;
	width: 240px;
	margin-right: 58px;
	padding-top: 52px;
	padding-bottom: 40px;
}

.icon_htmlacademy {
	display:block;
	width: 113px;
	height: 39px;
	position: absolute;
	top: 44px;
	left: 82px;
	background-image: url(../img/co_academy.png);
	background-repeat: no-repeat;
}
.icon_htmlacademy:hover {
	background-image: url(../img/co_academy_hover.png);
	background-repeat: no-repeat;
}
/*Поп-ап форма */
.map_block {
	position: relative;
}

.content_block .map_title {
	font-size: 30px;
	font-weight: bold;
	line-height: 24px;
	margin-bottom: 28px;
}

.content_block .map_text {
	font-size: 14px;
	line-height: 26px;
	font-weight: 400;
	padding: 0;
	margin: 0;
	margin-bottom: 130px;
}

.form_search_hotels {
	position: absolute;
	width: 570px;
	left: 316px;
	background-color: white;
	top: 207px;
}

.form_search_hotels .form_title {
	background-color: #766357;
	color: white;
	display: block;
	text-decoration: none;
	padding-top: 30px;
	padding-bottom: 30px;
}
.form_title a {
	padding: 0;
	color: inherit;
	text-decoration: inherit; 
}
.form_params {
	position: relative;
	min-height: 342px;
	width: 458px;
	margin-left: 55px;
	margin-right: 55px;
	display: none;
}

.form_params_show {
	display: block;
	animation: bounce 0.6s;
}



.form_params label {
	float: left;
	line-height: 26px;
	font-weight: bold;
	font-size: 14px;
}

.form_params input {
	width: 115px;
	background-color: #f2f2f2;
	height: 30px;
	margin-left: 33px;
	border: none;
}

.form_search_hotels .field_date_in {
	width: 342px;
	height: 33px;
	margin-left: 16px;

}
.form_search_hotels .field_date_out {
	width: 342px;
	height: 32px;
	margin-left: 16px;
	background-color: #f2f2f2;
}

.field_title_in {
	margin-bottom: 32px;
	float: left;
	margin-left: 1px;
	margin-top: 56px;
}

.field_title_out {
	font-size: 14px;
	font-weight: bold;
	line-height: 26px;
	float: left;
	margin-left: -3px;
	margin-bottom: 35px;
}

.field_title_adults {
}
.form_params .field_title_children {
	float: right;
}

.form_params .field_number_chld {
	margin-left: 19px;
}

.form_params .btn_search {
	margin-top: 52px;
	width: 459px;
	margin-left: 0px;
	height: 61px;
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	color: #FFFFFF;
	background-color: #81b3d2;
	text-transform: uppercase;
	font-family: "PT sans", Arial,sans-serif;
	margin-bottom: 56px;
}

.map {
	width: auto;
	height: 472px;
	background-image: url(../img/sedona_map.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

/*Страница отели*/
.main_hotel {
	margin:0;
	padding:0;
	font-weight:400;
	font-family:"PT sans", Arial,sans-serif;
}

form.filters {
	padding:0;
	margin:0;
	min-height:218px;
	background-image: url(../img/form_background.jpg);
	background-repeat:no-repeat;
	background-position: 0 17%;
	font-size:16px;
	font-weight:400;
	font-family:"PT sans", Arial,sans-serif;
}
form ul {
	margin:0;
	padding:0;
	list-style:none;
}

.filters h2 {
	font-size: 16px;
	font-weight: bold;
	line-height: 21px;
	padding: 0;
	color: #FFFFFF;
	margin: 0;
	margin-bottom: 30px;
}

.filters li {
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	color: #FFFFFF;
	
}
.input-group {
	padding-top: 26px;
	float: left;
	width: 253px;
	margin-left: 72px;
}

.input-group:nth-child(2) {
	margin-left: 0px;
}

.block_cost {
	float:right;
	width: 330px;
	margin-right:70px;
	padding-bottom:35px;
}
.search_results {
}

.sort_panel {
	min-height: 82px;
	border-bottom: 1px solid #e5e5e5;
}

.sort_panel ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.sort_panel li {
	display: inline-block;
	padding-left: 30px;
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;;;;;
}
.sort_params a {
	text-decoration: none;
	color:#d0d0d0;
	border-bottom: 1px dashed #81B3D2 ;
}


.sort_params .sort_active {
	color: #81B3D2;
}
.found_results {
	float: left;
	margin-left: 70px;
	padding-top: 29px;
	padding-right: 54px;
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	padding-bottom: 30px;
	padding-left: 3px;
}

.sort_label {
	float: left;
	padding-top: 32px;
	padding-bottom: 32px;
	width: 78px;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
}

.sort_params {
	float: left;
}

.sort_up {
	float:right;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-right: 65px;
	font-size: 23px;
	line-height: 20px;;
	color: #cccccc;
}

.hotel_card {
	min-height: 150px;
	border-bottom: 1px solid #e5e5e5;
}
.hotel_card h2 {
	padding: 0;
	margin: 0;

}
.hotel_card p {
	padding: 0;
	margin-top: 0;
	float: left;
	min-width: 110px;
	font-size: 14px;
	font-weight: 400;

}

.hotel_picture {
	float: left;
	width: 135px;
	height: 90px;
	padding-bottom: 30px;
	padding-top: 30px;
	margin-left: 72px;
}

.hotel_about {
	float:left;
	width: 380px;
	padding: 0px;
	margin: 0px;
	padding-left: 30px;
}

.hotel_about .hotel_title {
	float: left;
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	padding-top: 25px;
	padding-left:1px;
	margin-right: 76px;
	margin-bottom: 5px;
	min-width: 250px;;
}

.hotel_type {
	margin-right: 5px;
}

.hotel_cost {
	margin-right: 100px;
}

.hotel_about a {
	float:left;
	font-size: 14px;
	line-height: 21px;
	font-weight: bold;
	margin-right:4px;
	padding-top: 3px;
	padding-right: 17px;
	padding-left: 17px;
	padding-bottom: 3px;
	margin-bottom: 30px;
	color:#FFFFFF;
	text-decoration: none;
}
.hotel_details {
	background-color: #81b3d2;
}
.hotel_booking {
	background-color: #766357;
}
.hotel_rate {
	float:right;
	padding-right: 70px;
}

.hotel_stars {
	float:right;
	margin-top: 26px;
	font-size: 22px;
	line-height: 21px;
	padding: 3px;
	color: #81b3d2;
}

.hotel_mark {
	margin-top: 96px;
	margin-bottom: 30px;
	padding-left: 5px;
	padding-right: 5px;
	margin-right: 12px;
}

input[type="checkbox"] {
	display: none;
}


input[type="checkbox"]+label {
	display: block;
	padding-left: 45px;
	line-height: 20px;
	position: relative;
	cursor: pointer;
	margin-bottom: 25px;
}

input[type="checkbox"] + label::before {
	content: "\2610";
	position: absolute;
	font-family: "symbols-sedona";
	font-size: 25px;
	top: 0;
	left: 0;
}
input[type="checkbox"]:checked + label::before {
		content: "\2611";
}
.hotel_stars {
	content: "\2610"
}

/*Форма цены*/
.filter-range {
	width: 316px;
	text-transform: uppercase;
	margin-right: 74px;
	margin-top: 27px;
	color: #ffffff;
	float: right;
}

.filter-range-title {
	margin-bottom: 9px;

	font-weight: 600;
	font-size: 16px;
	line-height: 21px;
}

.price-controls {
	position: relative;
	height: 36px;
	margin-bottom: 17px;

	font-size: 0;

	border: 2px solid #ffffff;
	border-radius: 2px;
}

.price-controls::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;

	width: 2px;
	height: 22px;

	background: #ffffff;
	transform: translate(-50%, -50%);
}

.price-controls label {
	display: inline-block;

	font-size: 14px;

	cursor: pointer;
	vertical-align: top;
	line-height: 38px;
}

.price-controls .min-price,
.price-controls .max-price {
	width: 90px;
	padding-left: 65px;
}

.price-controls input {

	background: none;
	border: none;
	outline: none;
	font: inherit;
	color: inherit;
	margin: 0;

	width: 50px;
}

.range-controls {
	position: relative;

	margin-bottom: 32px;
}

.range-controls .scale {
	height: 2px;
	background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
	width: 75%;
	height: 2px;

	background: #ffffff;
}

.range-toggle {
	position: absolute;

	width: 4px;
	height: 4px;

	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
	top: -9px;
}

.range-toggle:hover {
	background: #1c4f80;
}

.range-toggle-min {
	left: 0px;
}

.range-toggle-max {
	left: 80%;
}

.btn-transparent {
	display: block;
	margin: 0 auto;
	padding: 6px 32px;

	font-size: 14px;
	line-height: 20px;
	color: #ffffff;
	text-transform: uppercase;

	background: transparent;
	border: 2px solid #ffffff;
	border-radius: 2px;
	outline: none;
	cursor: pointer;
}

.btn-transparent:hover {
	color: #000000;

	background: #ffffff;
}